:root {
  --background: #24293c;
  --element: #2d3248;
  --hover: #404767;
  --color: #ececec;
  --scrollbar: #485075;
}

body {
  background-color: var(--background);

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
    }
  }
}

.app {
  display: flex;
  overflow: auto;
}
