.chartLayout {
  width: calc(100% - 2rem);
  margin: 1rem;
  // min-height: 424px;
  background-color: var(--element);
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 0.4rem;
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  .chartHeader {
    margin: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0.5rem 0;
    }
  }

  .chartSvg {
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 1000px) {
    .chartHeader {
      flex-direction: column;
    }
  }
}
