.chart {
  margin-left: 20rem;
  width: calc(100% - 20rem);

  .blur {
    position: fixed;
    top: 0;
    width: inherit;
    height: 1rem;
    z-index: 2;
    background: rgba(36, 41, 60, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
  }

  .two-chart {
    display: flex;
  }

  @media only screen and (max-width: 1200px) {
    .two-chart {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 1000px) {
    width: 100%;
    margin-left: unset;
  }
}

.nowcollapse {
  margin-left: 5rem;
  width: calc(100% - 5rem);
}
