.mainNav {
  width: 20rem;
  height: 100vh;
  background-color: var(--element);
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  z-index: 9999;
  transition: all 0.5s ease;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
    }
  }
}

.expandMain {
  width: 5rem;
}

@media only screen and (max-width: 1000px) {
  // width: 20rem;

  .mobileMenuClose {
    width: 0;
    padding: 0;
    margin: 0;
    * {
      display: none;
    }
  }

  // display: none;
}
